.design {
  padding: 42px 0 57px 0;
  background:
    linear-gradient(90deg, rgba(0, 0, 0, 0.72) 0%, rgba(255, 255, 255, 0.8) 0%),
    url(./images/design/background.png) center center / cover no-repeat;

  // .design__container

  // .design__subtitle

  &__subtitle {
    @include section-subtitle;
    text-align: center;
    padding: 25px;
  }

  // .design__title

  &__title {
    @include section-title;
    text-align: center;
    padding: 21px;
    margin-bottom: 38px;
    &::after {
      @include title-after-element;
      margin-top: 42px;
    }
  }

  &__body {
    text-align: center;
  }

  // .design__content

  &__content {
    display: inline-block;
    position: relative;
    max-width: 685px;
    // div {
    //   position: absolute;
    //   top: 41%;
    //   right: -6%;
    //   max-width: 200px;
    //   img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     aspect-ratio: 200 / 412;
    //   }
    // }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 685 / 525;
    }
  }
}
