.figures {
    padding: 42px 0;
    background: #f8f8f8;
  // .figures__container

 

  // .figures__content

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  // .figures__item

  
}
