.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  // .header__logo

  // .header__menu
}
.menu {
  display: flex;
  align-items: center;
  gap: 64px;

  // .menu__item

  &__item {
    padding: 43px 0;
    a {
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
    }
  }
  &.hidden {
  }

  @media (max-width: 1023px) {
    &.hidden {
      display: none;
    }
  }
}
