.peoplesay {
  padding: 28.48px 0 28.93px 0;
  position: relative;
  background: url(./images/people/background-image.png) center center / cover no-repeat;
  &::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background: rgba(255, 255, 255, 0.9);
  }
  // .peoplesay__container

  &__container {
	position: relative;
	z-index: 1;
  }

  // .peoplesay__subtitle

  &__subtitle {
    @include section-subtitle;
    text-align: center;
    margin-bottom: 46px;
  }

  // .peoplesay__title

  &__title {
    @include section-title;
    text-align: center;
    margin-bottom: 58px;
    &::after {
      @include title-after-element;
      margin-top: 42px;
    }
  }

  // .peoplesay__content

  &__content {
    padding-left: 20px;
  }

  // .peoplesay__cards

  &__cards {
    display: grid;
    gap: 70px 53px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  // .peoplesay__card

  &__card {
    display: flex;
  }

  // .peoplesay__card-image

  &__card-image {
    flex: 0 1 130px;
    max-height: 130px;
    margin-right: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 7px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
  }

  // .peoplesay__card-content

  &__card-content {
    flex: 0 1 369px;
  }

  // .peoplesay__card-title

  &__card-title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #2d3033;
    margin-bottom: 17px;
  }

  // .peoplesay__card-subtitle

  &__card-subtitle {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #2d3033;
    margin-bottom: 32px;
    &::after {
      @include title-after-element;
      width: 70px;
      margin-left: 0;
      margin-top: 32px;
    }
  }

  // .peoplesay__card-text

  &__card-text {
    font-weight: 400;
    font-size: 18px;
    color: #2d3033;
	padding: 20px 0;
  }
}
